{% extends 'core/base.html' %}
{% block title %}{{ chat.name }}{% endblock %}
{% block page %}{{ chat.name }}{% endblock %}
{% block content %}
<div class="lg:w-2/4 mx -4 lg:mx-auto p-4 bg-white rounded-xl">
    <script>
        function checkUserStatus(username) {
            fetch('/user_status/${username}/')
            .then(response => response.json())
            .then(data => {
                const statusElement = document.getElementById('status-${username}');
                if (data.is_online) {statusElement.innerText = 'Online';
                                    statusElement.style.color = 'white';} else {
                                    statusElement.innerText = 'Offline';
                                    statusElement.style.color = 'gray';
                                    }
            })
            .catch(error => console.error('Error:', error));
        }
        document.addEventListener('DOMContentLoaded', () => {
            const messageElements = document.querySelectorAll('.message-sender')
                  messageElements.forEach(element => {
                    const username = element.innerText.trim();
                    checkUserStatus(username);
                    setInterval(() => checkUserStatus(username), 10000)
                  })
        })
    </script>
    <div class="chat-messages space-y-3" id="chat-messages">
        {% for message in messages %}
        <div class="flex items-start space-x-2">
            <div class="w-1/6">
                <span class="font-bold message-sender">{{ message.user.username }}</span>
                <span id="status-{{ message.user.username }}">Checking...</span>
            </div>
        </div>
        {% if request.user == message.user or user.is_superuser %}
        <form action="{% url 'edit_message' chat.slug message.id %}" method="post">
            {% csrf_token %}<input type="text" name="edited_text" value="{{ message.text }}">
            <button type="submit">Edit</button>
        </form>
        <form action="{% url 'delete_message' chat.slug message.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        {% else %}
        {{ message.text }}
        <form>
            <small>{{ message.updated_at }}</small><br>
        </form>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <form method="post" action="{% url 'new_message' chat.slug %}" class="flex">
        {% csrf_token %}
        <input type="text" name="content" class="flex-1 mr-3"
        placeholder="Your message..." id="chat-message-input">
        <input type="text" name="receiver" class="flex-1 mr-3"
        placeholder="Enter receiver username...">
        
        <button 
             class="px-5 py-3 rounded-xl text-white bg-gray-600 hover:bg-gray-700"
             id="chat-message-submit">Submit</button>
    </form>
</div>
{% if user.is_superuser %}
<div class="lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <form method="post" action="{% url 'add_to_chat' chat.id %}" class="flex">
        {% csrf_token %}
        <input type="text" name="username" class="flex-1 mr-3"
        placeholder="Enter username...">
        
        <button 
             class="px-5 py-3 rounded-xl text-white bg-gray-600 hover:bg-gray-700">Add User
            </button>
    </form>
</div>
{% endif %}
{% if django_messages %}
{% for message in django_messages %}
<div class="alert alert-{{ message.tags }}">
    {% if message.tags == 'success' %}
    <strong>Success</strong>
     {% endif %}
     {{message}}
</div>
{% endfor %}
{% endif %}
{% endblock %}
